@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --colorPrimario: rgb(250, 250, 175);
  --colorSecundario: rgb(175, 175, 250);
  --colorH1: rgb(255, 0, 30);
}

body {
  background-color: var(--colorPrimario);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  color: tomato;
  font-family: "Lilita One", cursive;
  margin-bottom: 5rem;
  background-color: black;
  background-image: url(./images/equipo.jpeg);
  background-size: 4.5rem;
  background-repeat: no-repeat;
  border: ridge black 10px;
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  color: var(--colorH1);
  text-decoration: underline;
  margin-top: 1.5rem;
}

main {
  flex-grow: 1;
}

h2 {
  text-decoration: underline;
  margin-bottom: 1rem;
  font-size: 1rem;
}

h3 {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.btn-easy {
  display: flex;
  justify-content: end;
}

.btn-normal {
  display: flex;
  justify-content: end;
}

.div-btn-info {
  display: flex;
  justify-content: end;
}

.btn_info {
  background-image: url(/images/info.png);
  padding: 0.65rem;
  background-size: cover;
  border-radius: 2rem;
}

.superior {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  margin-top: -2.75rem;
}

.marcador {
  list-style: none;
  background-color: tomato;
  padding: 1.5rem;
  border-radius: 15%;
  border: ridge black 5px;
}

.aciertos {
  margin-bottom: 0.3rem;
  list-style-image: url(./images/acierto.png);
}

.fallos {
  list-style-image: url(./images/fallo.png);
}

#rgb {
  color: white;
  padding: 3rem 1rem;
  border-radius: 2rem;
  border: ridge black 5px;
}

.inferior {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadrados {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 5rem;
}

.cuadrados li {
  list-style: none;
  background-color: black;
  padding: 2rem;
  border-radius: 15%;
  border: ridge black 5px;
}

.message-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.message {
  font-family: "Lilita One", cursive;
  display: none;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  animation: 4s ease-in-out;
  text-align: center;
  color:var(--colorH1);
}

.info-title {
  color: yellow;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-size: 25px;
}

.footer-info {
  margin-top: 2rem;
}

.div-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-p {
  margin-left: 1rem;
}

.git-image {
  width: 1.5rem;
}

.linkedin-image {
  width: 1.5rem;
}

.youtube-image {
  width: 1.5rem;
}

.div-footer ul {
  display: flex;
  margin-right: 1rem;
  gap: 1rem;
  align-items: center;
}

.div-footer ul li {
  list-style: none;
}

.dificultad{
  color: black;
  padding: 0.2rem;
  border-radius: 1rem;
  background-color: var(--colorH1);
  font-weight: bold;
  border: solid grey 0.1rem;
}

/*MEDIA QUERIES*/

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (min-width: 320px) {
  .publi-aside-img {
    display: none;
    width: 100vw;
    margin-left: 3rem;
    position: absolute;
  }

  .publi-aside-video {
    display: none;
    width: 100vw;
    margin-right: 2rem;
    position: absolute;
    margin-bottom: 5rem;
  }
}

@media (min-width: 375px) {
  header {
    background-size: 5.5rem;
  }

  .publi-aside-img {
    display: none;
    width: 100vw;
    margin-left: 3rem;
    position: absolute;
  }

  .publi-aside-video {
    display: none;
    width: 100vw;
    margin-right: 2rem;
    position: absolute;
    margin-bottom: 5rem;
  }
}

@media (min-width: 425px) {
  header {
    background-size: 6.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  .marcador {
    padding: 1rem 2.5rem;
  }
  .publi-aside-img {
    display: none;
    width: 100vw;
    margin-left: 3rem;
    position: absolute;
  }

  .publi-aside-video {
    display: none;
    width: 100vw;
    margin-right: 2rem;
    position: absolute;
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px) {
  header {
    background-size: 10rem;
  }
  h1 {
    font-size: 3rem;
  }
  .btn_info {
    padding: 0.9rem;
  }
  .superior {
    justify-content: center;
    gap: 4rem;
  }
  .cuadrados li {
    padding: 2.5rem;
  }

  .publi-aside-img {
    display: block;
    width: 100vw;
    margin-left: 3rem;
    position: absolute;
  }
  .publi-aside-img img {
    width: 10rem;
    float: left;
  }

  .publi-aside-video {
    display: block;
    width: 100vw;
    margin-right: 2rem;
    position: absolute;
    margin-bottom: 5rem;
  }
  .publi-aside-video video {
    height: 15rem;
    width: 10rem;
    float: right;
  }
}

@media (min-width: 1024px) {
  header {
    background-size: 15rem;
  }

  .dificultad{
    padding: 0.5rem;    
  }

  h1 {
    font-size: 4rem;
  }
  .btn_info {
    padding: 1rem;
  }
  .superior {
    justify-content: center;
    gap: 5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .marcador {
    font-size: 1.5rem;
  }
  #rgb {
    font-size: 1.75rem;
  }
  .cuadrados li {
    padding: 3rem;
  }

  .publi-aside-img {
    width: 100vw;
    margin-left: 3rem;
    position: absolute;
  }
  .publi-aside-img img {
    width: 15rem;
    float: left;
  }

  .publi-aside-video {
    width: 100vw;
    margin-right: 2rem;
    position: absolute;
    margin-bottom: 5rem;
  }
  .publi-aside-video video {
    height: 20rem;
    width: 15rem;
    float: right;
  }
}

@media (min-width: 1440px) {
  header {
    background-size: contain;
  }

  .dificultad{
    padding: 0.7rem;    
    font-size: 1rem;
  }

  h1 {
    font-size: 5rem;
    text-align: center;
  }
  .btn_info {
    padding: 1.2rem;
  }
  .superior {
    justify-content: center;
    gap: 10rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .marcador {
    font-size: 2rem;
  }
  #rgb {
    font-size: 2.5rem;
    padding: 4rem 1rem;
  }
  .cuadrados li {
    padding: 3.5rem;
  }
  .publi-aside-img {
    width: 100vw;
    margin-left: 5rem;
    position: absolute;
  }
  .publi-aside-img img {
    width: 20rem;
    float: left;
  }

  .publi-aside-video {
    width: 100vw;
    margin-right: 5rem;
    position: absolute;
    margin-bottom: 5rem;
  }
  .publi-aside-video video {
    height: 25rem;
    width: 20rem;
    float: right;
  }

  .git-image {
    width: 2rem;
  }

  .linkedin-image {
    width: 2rem;
  }

  .youtube-image {
    width: 2rem;
  }

  .footer-p {
    font-size: 1.2rem;
  }
}

@media (min-width: 2560px) {
  header {
    background-size: contain;
  }

  .dificultad{
    padding: 1rem;    
    font-size: 2rem;
  }

  h1 {
    font-size: 7.5rem;
    text-align: center;
  }
  .btn_info {
    padding: 2rem;
  }
  .superior {
    justify-content: center;
    gap: 8rem;
  }
  h2 {
    font-size: 3.25rem;
  }
  .marcador {
    font-size: 2.5rem;
    padding: 1rem 3rem;
  }
  #rgb {
    font-size: 3rem;
    padding: 4.75rem 1rem;
  }
  .cuadrados li {
    margin-top: 3rem;
    padding: 6rem;
  }

  .publi-aside-img {
    width: 100vw;
    margin-left: 10rem;
    position: absolute;
  }
  .publi-aside-img img {
    width: 30rem;
    float: left;
  }

  .publi-aside-video {
    width: 100vw;
    margin-right: 10rem;
    position: absolute;
    margin-bottom: 5rem;
  }
  .publi-aside-video video {
    height: 35rem;
    width: 30rem;
    float: right;
  }

  .git-image {
    width: 3rem;
  }

  .linkedin-image {
    width: 3rem;
  }

  .youtube-image {
    width: 3rem;
  }

  .footer-p {
    font-size: 2rem;
  }
}